snippet #!
	#!/usr/bin/env python3
	# -*- coding: utf-8 -*-

snippet utf
	# -*- coding: utf-8 -*-

snippet from
	from ${1} import ${2}

snippet main
	if __name__ == '__main__':
		${1}

snippet docstring
	"""${1:Briefly introduce the basic functions.}

	${2:Show more details in here.}

	Args:
		${3:param}(${4:type}): ${5:description}

	Returns:
		${6:type}: ${7:description}

	Raises:
		ValueError: If param2 is not equal to param1.

	Todo:
		* todos
	"""
